{% sw_extends '@Storefront/storefront/component/buy-widget/buy-widget-form.html.twig' %}

{% block buy_widget_buy_quantity_container %}
	{# Hide the quantity selector and include a hidden input for the quantity #}
	<input
	type="hidden" name="lineItems[{{ product.id }}][quantity]" value="{{ product.minPurchase }}">
	{# Visually hidden label for accessibility #}
	<span class="visually-hidden">
		{{ 'component.product.quantitySelect.label'|trans|striptags }}:
		{{ product.minPurchase }}
	</span>
{% endblock %}

{% block buy_widget_buy_button_container %}
	{# Override the button container to use col-12 and avoid nested col-8 #}
	<div class="col-12">
		{% block buy_widget_buy_button %}
			<div class="d-grid">
				<button class="btn btn-primary btn-buy" type="submit" title="{{ 'detail.addProduct'|trans|striptags }}" aria-label="{{ 'detail.addProduct'|trans|striptags }}">
					<i class="fa-solid fa-cart-circle-plus"></i>
					{{ 'detail.addProduct'|trans|sw_sanitize }}
				</button>
			</div>
		{% endblock %}
	</div>
	<div class="junu-product-usp">
		<div>
			<i class="fa-regular fa-truck-fast"></i>
			<span>
				<strong>GRATIS</strong>
				Versand ab 69€</span>
		</div>
		<div>
			<i class="fa-regular fa-truck-fast"></i>
			<span>Risikoloser Kauf auf Rechnung</span>
		</div>
		<div>
			<i class="fa-regular fa-truck-fast"></i>
			<span>Geld-zurück-Garantie</span>
		</div>
		<div>
			<i class="fa-kit fa-trustedshops"></i>
			<span>Zertifiziert bei
				<strong>Trusted Shops™</strong>
			</span>
		</div>
	</div>
	<div style="
									    display: flex;
									    justify-content: center;
			                            column-gap: 10px;
			                            margin:0;
									">

		{% set twtWidgetPaymentLogoMaxHeight = 32 %}
		{% for paymentMethod in page.salesChannelPaymentMethods.elements %}
			{% if paymentMethod.media %}
				<div class="">
					{% sw_thumbnails 'payment-method-image-thumbnails' with {
                        media: paymentMethod.media,
                        sizes: {
                            default: twtWidgetPaymentLogoMaxHeight|number_format ~ 'px'
                        },
                        attributes: {
                            class: 'junu-product-payment-logos',
                            alt: paymentMethod.media.translated.alt ?: paymentMethod.translated.name,
                            title: paymentMethod.media.translated.title ?: paymentMethod.translated.name,
                            height: twtWidgetPaymentLogoMaxHeight|number_format ~ 'px',
                            width: (twtWidgetPaymentLogoMaxHeight|number_format * 1.96)|round(0, 'floor') ~ 'px',
                            'draggable': 'false',
                            'fetchpriority': 'high',
                            loading: 'eager'
                        }
                    } %}
				</div>
			{% endif %}
		{% endfor %}

	</div>
	<div class="junu-product-guarantee-banner">
		<div class="junu-product-image-container">
			<img src="/media/89/e6/a9/1747950934/30-tage-geld-zurueck-garantie.svg?ts=1747951004" alt="30 Tage Geld-zurück-Garantie" draggable="false" fetchpriority="high">
		</div>
		<div class="junu-product-text-container">
			<p class="junu-product-title">30 Tage Geld-zurück-Garantie</p>
			<p class="junu-product-description">Wenn Sie mit dem Produkt nicht zufrieden sind, senden Sie es einfach zurück – wir erstatten Ihnen den Kaufpreis.</p>
		</div>
	</div>
{% endblock %}
