{% sw_extends '@Storefront/storefront/component/product/card/box.html.twig' %}

{% block component_product_box_action %}
	{% if product.extensions.junuIsVariantArticle is defined and product.extensions.junuIsVariantArticle == false %}
		<div class="product-action">
			<form action="{{ path('frontend.checkout.line-item.add') }}" method="post" class="buy-widget" data-add-to-cart="true">
				<input type="hidden" name="redirectTo" value="frontend.cart.offcanvas">
				<input type="hidden" name="redirectParameters" data-redirect-parameters="true" value='{"productId":"{{ product.id }}"}'>
				<input type="hidden" name="lineItems[{{ product.id }}][id]" value="{{ product.id }}">
				<input type="hidden" name="lineItems[{{ product.id }}][referencedId]" value="{{ product.id }}">
				<input type="hidden" name="lineItems[{{ product.id }}][type]" value="product">
				<input type="hidden" name="lineItems[{{ product.id }}][stackable]" value="1">
				<input type="hidden" name="lineItems[{{ product.id }}][removable]" value="1">
				<input type="hidden" name="lineItems[{{ product.id }}][quantity]" value="1">
				<input type="hidden" name="product-name" value="{{ product.translated.name }}">
				<input type="hidden" class="product-id-input" name="lineItems[{{ product.id }}][id]" value="{{ product.id }}">
				<input type="hidden" class="referenced-id-input" name="lineItems[{{ product.id }}][referencedId]" value="{{ product.id }}">
				<input type="hidden" class="type-input" name="lineItems[{{ product.id }}][type]" value="product">
				<input type="hidden" class="stackable-input" name="lineItems[{{ product.id }}][stackable]" value="1">
				<input type="hidden" class="removable-input" name="lineItems[{{ product.id }}][removable]" value="1">
				<input type="hidden" class="quantity-input" name="lineItems[{{ product.id }}][quantity]" value="1">

				<div class="d-grid">
					<button class="btn btn-buy" title="{{ 'listing.boxAddProduct'|trans|striptags }}">
						<span class="icon icon-themeware icon-basket icon-solid">
							<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 576 512">
								<path d="M253.3 35.1c6.1-11.8 1.5-26.3-10.2-32.4s-26.3-1.5-32.4 10.2L117.6 192H32c-17.7 0-32 14.3-32 32s14.3 32 32 32L83.9 463.5C91 492 116.6 512 146 512H430c29.4 0 55-20 62.1-48.5L544 256c17.7 0 32-14.3 32-32s-14.3-32-32-32H458.4L365.3 12.9C359.2 1.2 344.7-3.4 332.9 2.7s-16.3 20.6-10.2 32.4L404.3 192H171.7L253.3 35.1zM192 304v96c0 8.8-7.2 16-16 16s-16-7.2-16-16V304c0-8.8 7.2-16 16-16s16 7.2 16 16zm96-16c8.8 0 16 7.2 16 16v96c0 8.8-7.2 16-16 16s-16-7.2-16-16V304c0-8.8 7.2-16 16-16zm128 16v96c0 8.8-7.2 16-16 16s-16-7.2-16-16V304c0-8.8 7.2-16 16-16s16 7.2 16 16z"></path>
							</svg>
						</span>
						<span class="text">{{ 'listing.boxAddProduct'|trans|striptags }}</span>
					</button>
				</div>
			</form>
		</div>
	{% else %}
		{{ parent() }}
	{% endif %}
{% endblock %}
